<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zakamarki Kryptografii </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
    <div class="wrapper">
        <header class="main-header">
            Zakamarki Kryptografii
        </header>

        <main>
            <form method="post" action="login.php" >
                <label>
                    <p>login</p>
                    <input type="text" name="login" id="login" maxlength="20" size="10"/>
                </label>
                <label>
                    <p>hasło</p>
                    <input type="password" name="password" maxlength="20" size="10"/>
                </label>
                <input type="submit" value="Zaloguj"/>
            </form>
        </main>

    </div> <!-- end wrapper -->

</body>
</html>
